@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Noto Serif", serif;
    background: black;
    color: white;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 30px;
    z-index: 100;
    backdrop-filter: blur(20px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    list-style: none;
}

.logo {
    font-family: "Bodoni Moda", serif;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
    text-decoration: none;
    color: white;
}

.nav-right {
    flex-shrink: 1;
}

.nav-right ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 50px;
    margin: 0;
}

.nav-right a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Landing */
.landing {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
    z-index: 2;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(70%);
    user-select: none;
    pointer-events: none;
}

/* Title Animation */
@keyframes titleFadeUp {
    0% { opacity: 0; transform: translate(-50%, 200px); }
    100% { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes subtitleFadeUp {
    0% { opacity: 0; transform: translate(-50%, 200px); }
    100% { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes dotsFadeUp {
    0% { opacity: 0; transform: translate(-50%, 200px); }
    25% { opacity: 0; transform: translate(-50%, 200px); }
    100% { opacity: 1; transform: translate(-50%, 0); }
}

.title {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    animation: titleFadeUp 1.2s ease;
}

.subtitle {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    z-index: 2;
    animation: subtitleFadeUp 1.5s ease;
}

.dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
    animation: dotsFadeUp 1.5s ease;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: white;
}

/* Highlights */
.highlights {
	padding: 20px 40px;
	max-width: 1400px;
	margin: auto;
}

.highlights h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 32px;
    font-weight: 700;
	margin-bottom: 50px;
}

.gallery {
	column-count: 4; /* Number of columns on desktop */
	column-gap: 20px;
}

.gallery img {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	transition: transform 0.3s ease, opacity 0.3s ease;
    user-select: none;
	transform: translateY(50px);
	opacity: 0;
	transition: transform 0.8s ease, opacity 0.8s ease;
    cursor: pointer;
}

.gallery img.reveal {
	transform: translateY(0);
	opacity: 1;
}

.gallery img:hover {
	transform: scale(0.97);
	opacity: 0.9;
}

/* About */
#about {
	display: flex;
	flex-wrap: wrap;
	padding: 0 40px;
	max-width: 1200px;
	margin: auto;
	gap: 40px;
	align-items: center;
}

.about-pic, .about-text {
	flex: 1 1 400px;
}

.about-pic img {
	width: 100%;
	object-fit: cover;
}

.about-text h2 {
	font-size: 2.2rem;
	margin-bottom: 20px;
}

.about-text p {
	font-size: 1.1rem;
	line-height: 1.6;
	color: #ddd;
}

.socials {
	margin-top: 15px;
}

.socials a {
	color: white;
	font-size: 1.8rem;
	margin-right: 15px;
	transition: color 0.3s;
}

.socials a:hover {
	color: darkgray;
}

footer {
    text-align: center;
    padding: 0px;
    color: darkgray;
}

/* Fullscreen Image Viewer */
#fullscreen-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

#fullscreen-viewer img {
    max-width: 90%;
    max-height: 90%;
}

#close-viewer {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 200;
}

#viewer-prev, #viewer-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
    cursor: pointer;
    padding: 20px;
    user-select: none;
}

#viewer-prev { left: 20px; }
#viewer-next { right: 20px; }

#viewer-prev:hover, #viewer-next:hover, #close-viewer:hover {
    color: gray;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}

/* Responsive */
@media (max-width: 900px) {
	.gallery {
		column-count: 3;
	}
	#about {
		flex-direction: column;
		padding: 60px 80px;
	}
	.about-pic, .about-text {
		flex: 1 1 100%;
	}
    .about-pic img {
        width: 50%;
        margin-left: 25%;
    }
}

@media (max-width: 600px) {
	.gallery {
		column-count: 2;
    }
    .nav-right ul li {
        display: none;
    }
    .title {
        bottom: 210px;
        font-size: 26px;
    }
    .subtitle {
        bottom: 180px;
        font-size: 18px;
    }
    .dots {
        bottom: 140px;
    }
}
